<section id="aboutus">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">About Us</h2>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary color_y"></i>
          <i class="fa fa-music fa-stack-1x fa-inverse"></i>
        </span>
        <h3 class="service-heading">Music Creation</h3>
        <p class="text-muted">商業・同人を問わずクラブ・ミュージックを中心とした楽曲制作のご依頼を承っています</p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary color_m"></i>
          <i class="fa fa-cloud-upload fa-stack-1x fa-inverse"></i>
        </span>
        <h3 class="service-heading">Release</h3>
        <p class="text-muted">Sakura Recordz！が主催するコンピレーション・アルバムをリリースしてます</p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary color_y"></i>
          <i class="fa fa-microphone fa-stack-1x fa-inverse"></i>
        </span>
        <h3 class="service-heading">Mastering</h3>
        <p class="text-muted">ミックス・マスタリングを行っています</p>
        <p class="text-muted">くわしくは <a href="/mastering.php">マスタリングの詳細ページ</a>をご確認ください</p>
      </div>
    </div>
  </div>
</section>
