<!-- mastering section -->
<section id="mastering">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1 class="section-heading">Sakura Recordz Mastring</h1>
      </div>
    </div>

    <div class="row text-center">
      <h3>あなたの音楽へ息吹を</h3>
    </div>
    <div class="row text-center">
      日々発展していく音楽制作。<br/>
      CDのリリースや、iTunes、beatportなどのデジタルリリース、ハイレゾ対応の音源リリースなど、<br/>
      あなたの楽曲を様々なフォーマットで最高の状態でリスナーに届けるお手伝いをいたします。<br/>
      手頃な価格で高品質な音源であなたの曲をリスナーへ届けましょう。
    </div>

    <div class="row text-center">
      <h3>プラン</h3>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <table class="table table-inverse table-hover">
          <thead>
            <tr>
              <th>項目</th>
              <th>価格</th>
              <th>詳細</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">ddpプラン</th>
              <td>2000円/1disc</td>
              <td>cdのプレス業者へデジタル入稿するddpの作成を代行します<br/>
              </td>
            </tr>
            <tr>
              <th scope="row">簡易マスタリングプラン</th>
              <td>1000円/1曲</td>
              <td>音量を合わせることのみの最も手頃なプランです<br/>
              </td>
            </tr>
            <tr>
              <th scope="row">fullマスタリング(6曲以下)</th>
              <td>2000円/1曲</td>
              <td>音量の調整のほか、音の質感の調整、細部までの音の微調整を行うプランです<br/>
            </tr>
            <tr>
              <th scope="row">fullマスタリング(7曲以上)</th>
              <td>1500円/1曲</td>
              <td>音量の調整のほか、音の質感の調整、細部までの音の微調整を行うプランです<br/>
            </tr>
            <tr>
              <th scope="row">特急マスタリング</th>
              <td>3000円/1曲</td>
              <td>急なマスタリングに対して対応いたします(目安納品後3日)<br/>
            </tr>
            <tr>
              <th></th>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row text-center">
      <h3>オプション</h3>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <table class="table table-inverse table-hover">
          <thead>
            <tr>
              <th>項目</th>
              <th>価格</th>
              <th>詳細</th>
            </tr>
          </thead>
            <tr>
              <th scope="row">マスターCDを発送</th>
              <td>1000円/1disc + 送料</td>
              <td>マスターをデジタルデータではなくCDにて発送します</td>
            </tr>
            <tr>
              <th scope="row">mp3向けマスタリング</th>
              <td>+1000円/1曲</td>
              <td>通常のマスタリングと別にmp3向けに音の調整を行ったものも納品します</td>
            </tr>
            <tr>
              <th></th>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row text-center">
      <h3>各プランの比較</h3>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <table class="table table-inverse table-hover">
          <thead>
            <tr>
              <th>内容</th>
              <th>ddpプラン</th>
              <th>簡易マスタリグ</th>
              <th>fullマスタリング</th>
              <th>特急マスタリング</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">ddpの作成</th>
              <td>&#10004;</td>
              <td></td>
              <td>&#10004;</td>
              <td>&#10004;</td>
            </tr>
            <tr>
              <th scope="row">wavの作成</th>
              <td></td>
              <td>&#10004;</td>
              <td>&#10004;</td>
              <td>&#10004;</td>
            </tr>
            <tr>
              <th scope="row">音量の調整</th>
              <td></td>
              <td>&#10004;</td>
              <td>&#10004;</td>
              <td>&#10004;</td>
            </tr>
            <tr>
              <th scope="row">楽曲に合わせた音質の調整</th>
              <td></td>
              <td></td>
              <td>&#10004;</td>
              <td>&#10004;</td>
            </tr>
            <tr>
              <th scope="row">マスターCDを発送</th>
              <td></td>
              <td>&#10004; (+1000円/1disc)</td>
              <td>&#10004; (+1000円/1disc)</td>
              <td>&#10004; (+1000円/1disc)</td>
            </tr>
            <tr>
              <th scope="row">MP3向けマスタリング</th>
              <td></td>
              <td></td>
              <td>&#10004; (+1000円/1曲)</td>
              <td>&#10004; (+1000円/1曲)</td>
            </tr>
            <tr>
              <th scope="row">納期の目安<sup> [1] </sup></th>
              <td>通常7日以内</td>
              <td>通常7日以内</td>
              <td>通常14日以内</td>
              <td>通常3日以内</td>
            </tr>
            <tr>
              <th scope="row">リテイク<sup> [2] </sup></th>
              <td></td>
              <td>&#10004; 1回 </td>
              <td>&#10004; 3回 </td>
              <td>&#10004; 3回 </td>
            </tr>
          </tbody>
        </table>
        <small>1: 納期はデータをご納品頂いてから初回納品までの期間です。繁忙期などはこの限りではありません。</small><br/>
        <small>2: リテイクは初回納品から14日間のみ受け付けます。</small>
      </div>
    </div>

    <div class="row text-center">
      <h3>ご依頼の流れ</h3>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <dl class="dl-horizontal">
          <dt>1.お問い合わせ</dt>
          <dd>
              TwitterでのDMもしくは<a  href="https://docs.google.com/forms/d/e/1FAIpQLSdnrK-cMAiN9krs60PkJpakGc6PY7HHq9m_Jzzl5T311iV1JA/viewform">専用フォーム</a> よりお問い合わせください<br/>
              なにかご不明な店があれば<a href="https://twitter.com/sakuramodki">Twitter</a>にてお気軽にご質問ください
          </dd>

          <dt>2.データ送付</dt>
          <dd>
              マスタリングの内容が決まりましたら、音源をご用意ください<br/>
              音源はGoogle Driveや、Dropboxなど一定時間で消えないサービスでいただけるととても助かります<br/>
              音源のフォーマットについては <a href="https://docs.google.com/document/d/1QVoHvx1Kl2JwvSM008fOu-7_2vqU8I7qzZFvY3imr3E/edit?usp=sharing">こちら</a> をご一読ください
          </dd>

          <dt>3.初回納品</dt>
          <dd>
              マスタリングに必要な音源がすべて揃ってからマスタリングを開始します<br/>
              全曲マスタリングが完了後、マスタリング済みの音源をお送りいたします
          </dd>

          <dt>4.リテイク</dt>
          <dd>
              納品した音源がもし意図した音と違う場合、初回納品から14日間の間はリテイク・ブラッシュアップを致します<br/>
              リテイク・ブラッシュアップの回数はお申し込みいただいたプランによって異なります<br/>
              納品したファイルが破損している、違うファイルが納品されているなどの場合はリテイク回数へカウントされません
          </dd>

          <dt>5.お支払</dt>
          <dd>
              お支払は銀行振込にてお願いしていますが案件ごとに個別に対応することも可能です<br/>
              M3やイベントで直接現金にてお支払いいただくことも可能ですので、お気軽にご相談ください
          </dd>
        </dl>
      </div>
  </div>

    <div class="row text-center">
      <h3>お問い合わせ</h3>
    </div>
    <div class="row">
      <div class="col-sm-12 text-center">
        <a class="btn btn-primary btn-lg" href="https://docs.google.com/forms/d/e/1FAIpQLSdnrK-cMAiN9krs60PkJpakGc6PY7HHq9m_Jzzl5T311iV1JA/viewform">お問い合わせフォーム</a>
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="col-sm-12 text-center">
        <a class="btn btn-primary btn-lg" href="https://twitter.com/sakuramodki">Twitterでお問い合わせ</a>
      </div>
    </div>
</section>
