#mastering {
  margin: 200px 0;
  padding: 200px 0;
  background-color: #fff;
  color: #032F3E;

  h3 {
    margin-top: 100px;
    margin-bottom: 20px;
    border-bottom-style: ridge;
    border-bottom-width: 1px;
    border-bottom-color: #b8bfe4;
  }
}
