.navbar {
  background-color: @navBgColor;
  opacity: 0;
  top: -200px;
  transition: all 1s;

  a {
    color: @navFontColor;
  }

  .navbar-brand {
    color: @navFontColor;
  }

  .navbar-toggle {
    color: @navFontColor;
  }

  .navbar-collapse {
    li {
      background-color: @navBgColor;
    }
  }
}

.menu-show {
  .navbar {
    opacity: 1;
    top: 0;
  }
}
